<!-- Background Elements -->
<div class="background">
  <div class="background__floating-shapes">
    <div class="background__shape background__shape--circle"></div>
    <div class="background__shape background__shape--square"></div>
    <div class="background__shape background__shape--triangle"></div>
    <div class="background__shape background__shape--hexagon"></div>
    <div class="background__shape background__shape--star"></div>
  </div>
  <div class="background__gradient-overlay"></div>
</div>

<!-- Header -->
<header class="header">
  <div class="header__container">
    <a href="../../index.html" class="header__logo">
      <i class="fas fa-code header__logo-icon"></i>
      <span class="header__logo-text">Exercise F8</span>
    </a>
    <nav class="header__nav">
      <a
        href="../../index.html"
        class="header__nav-link header__nav-link--active"
        >Home</a
      >
      <a href="#" class="header__nav-link">Exercises</a>
      <a href="#" class="header__nav-link">Library</a>
      <a href="#" class="header__nav-link">Contact</a>
    </nav>
  </div>
</header>
